.home {
  .content {
    display: flex;
    flex-direction: column;
    .section {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 30px;
      min-height: 90vh;
      h1 {
        font-size: clamp(
          25px,
          calc(25px + (10 * ((100vw - 350px) / 100))),
          35px
        );
        span {
          color: #ff6c6c;
        }
      }
      p {
        padding: 0 30px;
        @media (max-width: 375px) {
          padding: 0 20px;
        }
        font-size: clamp(
          12px,
          calc(25px + (10 * ((100vw - 350px) / 100))),
          10px
        );
      }
      button {
        padding: 10px 50px;
        border-radius: 8px;
        background-color: #ff6c6c;
        color: #fff;
        border: none;
      }
    }
  }
}
